.dashboard-container {
    padding-top: 33px;
    padding-right: 18px;
}

.featured-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.featured-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}