.add-video-container {
    padding: 40px 52px 0 16px;
}

.back-button {
    margin-bottom: 20px;
}

.divide-line {
    border: 1px solid #667085;
    /* height: ; */
    width: 100%;
    margin-bottom: 20px;
}

.for-video-bottom {
    margin-bottom: 40px;
}

.add-section-button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 16px;
    border: none;
    background: #757575;
    cursor: pointer;
    width: 101px;
    margin-top: 24px;
}

.add-section-button svg {
    width: 24px;
    height: 24px;
}

.remove-section-button {
    position: absolute;
    top: 14px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.input-rel {
    position: relative;
}

.remove-section-button svg {
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: #BE4217;
}